@import "style-guide";

:host {
    background-color: $grayscale-0;
    color: $grayscale-9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: absolute;
    width: 100vw;

    .base {
        align-items: center;
        backdrop-filter: blur(12px);
        background-color: $primary-default;
        border-radius: 1.6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 64rem;
        margin: 0 auto;
        padding: 10rem 0;
        width: 100%;

        img {
            max-width: 40%;
            margin-bottom: 3.2rem;
        }

        p {
            color: $grayscale-3;
            font-size: 1.8rem;
            line-height: 150%;
            margin-bottom: 4.2rem;
            max-width: 60%;
            text-align: center;
        }
    }
}